.modal-header
  %h3.modal-title
    Whoops!

.modal-body
  %h5
    The action could not be carried out because...
  %ul
    %li{ 'ng-repeat' => 'key in keys' }
      {{ key }}
      %ul
        %li{ 'ng-repeat' => 'error in errors[key]' }
          {{ error }}

.modal-footer
  %button.btn.btn-primary.pull-right{ 'ng-click' => 'close()' }
    OK
