%div
  
  %item-material{ model: 'model' }

  %item-craftmanship{ model: 'model' }

  %item-common{ model: 'model' }

  %item-stack{ model: 'model.stack' }
  
  %item-worn{ model: 'model' }

  %item-inventory{ model: 'model' }

  %item-containing-inventory{ model: 'model' }
  
  {{ model }}