.form-group
  %label{ 'ng-if' => 'model.possible_slots.length' }
    Wearable in...
  %label{ 'ng-if' => '!model.possible_slots.length' }
    This item is not wearable
  %div
    %span.label.label-primary{ 'ng-repeat' => 'slot in model.possible_slots' }
      {{ slot }}