.well
  .form-group
    %label
      Craft category ("forge")
    %input.form-control{ type: 'text', required: true, 'ng-model' => 'model.category' }
  .form-group
    %label
      Craft name ("spearheads")
    %input.form-control{ type: 'text', required: true, 'ng-model' => 'model.name' }