.row
  .col-md-12

    %h2.text-center
      Active character

    %div{ 'ng-if' => 'YourCharactersCache.presence.current()' }
      %character{ model: 'YourCharactersCache.storage.current' }

    %div.text-center{ 'ng-if' => '!YourCharactersCache.presence.current()' }
      No active characters under this account. Create one?

    .row{ 'ng-if' => '!YourCharactersCache.presence.current()' }
      %form{ name: 'form', 'ng-submit' => 'submit()' }

        .form-group
          %label
            Name:
          %input.form-control{ type: 'text', required: true, 'ng-model' => 'character.name' }

        .form-group
          %label
            Gender:
          %div
            .btn-group
              %label.btn.btn-success{ 'ng-model' => 'character.gender', 'uib-btn-radio' => "'male'" }
                Male
              %label.btn.btn-success{ 'ng-model' => 'character.gender', 'uib-btn-radio' => "'female'" }
                Female

        .form-group
          %label
            Short description (e.g. "a brown-haired, tall man"):
          %input.form-control{ type: 'text', required: true, 'ng-model' => 'character.short_desc' }

        .form-group
          %label
            Long description (e.g. "A brown-haired, tall man is here."):
          %input.form-control{ type: 'text', required: true, 'ng-model' => 'character.long_desc' }

        .form-group
          %label
            Full description (what others will be see when looking at them):
          %textarea.form-control{ type: 'text', required: true, rows: '5', 'ng-model' => 'character.full_desc', style: 'resize: vertical;' }

        .form-group
          %label
            Keywords (e.g. "brown-haired tall name"):
          %tags-input{ 'ng-model' => 'character.kwords', 'add-on-paste' => 'true', 'replace-spaces-with-dashes' => 'false', 'add-on-space' => 'true', 'use-strings' => 'true', 'min-tags' => 1 }

        %button.btn.btn-primary.pull-right{ type: 'submit', 'ng-disabled' => 'form.$invalid' }
          Create
    %br
    .row
      %h2.text-center
        Previous characters

      %div.text-center{ 'ng-if' => '!YourCharactersCache.presence.previous()' }
        No previous characters found.
      
      %div{ 'ng-if' => 'YourCharactersCache.presence.previous()' }
        .well{ 'ng-repeat' => 'ch in YourCharactersCache.storage.previous' }
          .text-center
            {{ ch.short_desc }}

