.row
  .col-md-4.col-md-offset-4

    %h4.text-center
      Sign up

    %form{ name: 'form', 'ng-submit' => 'submit()' }

      .form-group
        %label
          Your username:
        %input.form-control{ type: 'text', 'alphanumerical-input' => '', required: true, 'ng-model' => 'player.username', 'ng-trim' => 'false' }

      .form-group
        %label
          Your password:
        %input.form-control{ type: 'password', 'alphanumerical-input' => '', required: true, 'ng-model' => 'player.password', 'ng-trim' => 'false' }

      .form-group
        %label
          Confirm your password:
        %i.fa.fa-exclamation-triangle.pull-right{ 'ng-show' => 'form.$error.pwConfirmationNoMatch' }
        %input.form-control{ type: 'password', 'alphanumerical-input' => '', required: true, 'ng-model' => 'player.password_confirmation', 'field-match' => 'player.password', 'field-match-error' => 'pwConfirmationNoMatch', 'ng-trim' => 'false' }

      %div
        %small
          Please use alphanumerical characters only.

      %button.btn.btn-primary.pull-right{ type: 'submit', 'ng-disabled' => 'form.$invalid' }
        Create account

    %a.text-center{ href: '', 'ng-click' => 'InterfaceService.goTo.public.login()' }
      Already a member?